---
import ProjectCard from "./ProjectCard";
import ProjectsIcon from "./ProjectsIcon";

const projects = [
    {
        title: "Vatic",
        description:
            "Full-stack development agency catering to startups in the sneaker resale industry.",
        year: "2018 - Present",
        href: "https://github.com/cavcomms/cavcomms",
    },
    {
        title: "Virginia Entrepreneurship Organization",
        description:
            "Web portal for members to schedule onboarding coffee chats and connect with other members.",
        year: "2022 - 2023",
        href: "https://github.com/cavcomms/cavcomms",
    },
    {
        title: "CavComms",
        description:
            "Real-time communications platform for controlling FRC robots.",
        year: "2022",
        href: "https://github.com/cavcomms/cavcomms",
    },
    {
        title: "DSG AutoCheckout",
        description:
            "Automatically purchase limited items from Dick's Sporting Goods in under 5 seconds.",
        year: "2021",
        href: "https://github.com/cavcomms/cavcomms",
    },
];
---

<div class="border border-white/10 relative p-6">
    <div
        class="absolute top-0 left-3 transform -translate-y-1/2 bg-[#121212] px-3"
    >
        <div class="flex items-center gap-2">
            <ProjectsIcon />
            <p class="text-[#4de272] text-base font-departure tracking-wide">
                projects
            </p>
        </div>
    </div>
    <div class="w-full grid grid-cols-1 gap-4">
        {
            projects.map((project) => (
                <ProjectCard
                    title={project.title}
                    description={project.description}
                    year={project.year}
                    href={project.href}
                    client:load
                />
            ))
        }
    </div>
</div>
