---
import Layout from "../../layouts/Layout.astro";
import Explorer from "../../components/gallery/Explorer.astro";
---

<Layout title="Tony Tran - Gallery">
    <main class="py-8 space-y-8 px-6 max-w-3xl w-full mx-auto font-sans">
        <Explorer />
    </main>
</Layout>
