---
import { User } from "@phosphor-icons/react";
---

<div class="">
    <div class="flex items-center gap-2">
        <User size={20} className="text-[#5fe4f0]" weight="bold" />
        <h1
            class="text-[#5fe4f0] font-sans text-lg tracking-wide font-semibold"
        >
            about me
        </h1>
    </div>
    <div class="border-b border-[#5fe4f0]/25 w-full mt-3 mb-8"></div>
    <div class="tracking-wide text-sm text-white/60 space-y-4 leading-6">
        <p class="">As a builder at heart, I love to create.</p>
        <p class="">
            I'm passionate about developing solutions for infrastructure,
            cybersecurity, finance, development, productivity, and software
            automation. As a wearer of many hats, I'm always learning and
            exploring new technologies.
        </p>
        <p class="">
            Currently exploring how user analytics can enhance AI products. On
            the side, I study Computer Science at the University of Virginia.
        </p>
    </div>
</div>
