---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.tsx';
import About from '../components/About.tsx';
import Writings from '../components/Writings.tsx';
import Work from '../components/Work.tsx';
import Projects from '../components/Projects.tsx';
---

<Layout title="Tony Tran - Software Engineer">
	<main class="pt-32 space-y-12 px-6 max-w-2xl w-full mx-auto">
		<Hero client:load />
		<About />
		<Writings />
		<Work />
		<Projects />
	</main>
</Layout>