@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

.waving-hand {
   animation-name: wave-animation;
   animation-duration: 2.5s;
   animation-iteration-count: infinite;
   transform-origin: 70% 70%;
   display: inline-block;
}

@keyframes wave-animation {
   0% {
      transform: rotate(0deg);
   }
   15% {
      transform: rotate(14deg);
   }
   30% {
      transform: rotate(-8deg);
   }
   40% {
      transform: rotate(14deg);
   }
   50% {
      transform: rotate(-4deg);
   }
   60% {
      transform: rotate(10deg);
   }
   70% {
      transform: rotate(0deg);
   }
   100% {
      transform: rotate(0deg);
   }
}

code {
   counter-reset: line;
   @apply rounded-lg border border-neutral-800/50 bg-neutral-800/30 !text-sm !leading-loose;
}

code > [data-line]::before {
   counter-increment: line;
   content: counter(line);

   display: inline-block;
   width: 1rem;
   margin-right: 1.5rem;
   text-align: right;
   color: gray;
}

pre > code {
   @apply grid !overflow-x-auto;
   counter-reset: line;
}

pre code {
   @apply py-2;
}

[data-rehype-pretty-code-title] + pre,
[data-rehype-pretty-code-title] + pre > code {
   @apply !rounded-t-none !border-b-0;
}

.prose {
   @apply max-w-[50rem] !leading-7;
}

[data-line] {
   @apply border-l-2 border-l-transparent px-2;
}

[data-highlighted-line] {
   background: rgba(200, 200, 255, 0.1);
   @apply border-l-blue-400;
}

[data-highlighted-chars] {
   @apply rounded bg-zinc-600/50;
   box-shadow: 0 0 0 4px rgb(82 82 91 / 0.5);
}

[data-chars-id] {
   @apply border-b-2 p-1 shadow-none;
}

[data-chars-id] span {
   @apply !text-inherit;
}

[data-chars-id="v"] {
   @apply border-b-pink-600 bg-rose-800/50 font-bold !text-pink-300;
}

[data-chars-id="s"] {
   @apply border-b-yellow-600 bg-yellow-800/50 font-bold !text-yellow-300;
}

[data-chars-id="i"] {
   @apply border-b-purple-600 bg-purple-800/50 font-bold !text-purple-200;
}

[data-rehype-pretty-code-title] {
   @apply rounded-t-lg border border-neutral-800/50 bg-neutral-700/30 p-2 px-4 font-mono text-sm text-neutral-100;
}

[data-rehype-pretty-code-fragment] {
   @apply py-4;
}

span[data-rehype-pretty-code-fragment] code {
   @apply px-1.5 py-1;
}

[data-rehype-pretty-code-caption] {
   @apply flex justify-center pt-4 text-center text-sm text-neutral-400;
}

.mdx-blockquote div {
   @apply !m-0;
}

.footnotes #footnote-label {
   @apply text-lg font-semibold text-neutral-100;
}

.footnotes li div {
   @apply inline-block;
}

.underline-link {
   text-decoration: none;
   background-image: linear-gradient(currentColor, currentColor);
   background-position: 0% 100%;
   background-repeat: no-repeat;
   background-size: 0% 2px;
   transition: background-size 0.3s;
}

.underline-link-group:hover .underline-link,
.underline-link:focus {
   background-size: 100% 2px;
}
