---
import Layout from "../../layouts/Layout.astro";
import Navbar from "../../components/Navbar.astro";
import Explorer from "../../components/gallery/Explorer.astro";
// import Hero from "../components/gallery/Hero.astro";
// import Designs from "../components/gallery/designs/Designs.tsx";
// import Developed from "../components/gallery/developed/Developed";
import { getCollection } from "astro:content";
import type { ProjectCollection } from "../../types/project";

const projects = await getCollection("projects");
console.log(projects);
---

<Layout title="Tony Tran - Gallery">
    <main class="py-8 space-y-8 px-6 max-w-3xl w-full mx-auto font-sans">
        <!-- <Hero /> -->
        <Explorer />
        <!-- <Developed />
        <Designs /> -->
        <button onclick="console.log(projects)">test</button>
        {
            projects.map((project: ProjectCollection) => (
                <div class="bg-white">
                    <h2>{project.data.title}</h2>
                    <p>{project.data.description}</p>
                </div>
            ))
        }
    </main>
</Layout>
