---
const props = Astro.props;
---

<div {...props} class="py-2">
    <blockquote
        class="border-l-[6px] border-neutral-800 px-4 py-2 font-arvo font-medium"
    >
        <slot />
    </blockquote>
</div>
