---
const props = Astro.props;
---

<a {...props} class="mdx-link">
    <span class="">
        <slot />
    </span>
</a>

<style is:global>
    @import "tailwindcss/base";
    @import "tailwindcss/components";
    @import "tailwindcss/utilities";

    @layer components {
        /* Styles for all mdx-links */
        .mdx-link {
            @apply transition-all duration-200;
        }

        /* Styles specifically for links not in headings */
        .mdx-link:not(:is(h1, h2, h3, h4, h5, h6) *) {
            @apply text-blue-600;
        }

        .mdx-link:not(:is(h1, h2, h3, h4, h5, h6) *):hover {
            @apply text-blue-800 underline;
        }

        /* Existing styles for links inside headings */
        *:is(h1, h2, h3, h4, h5, h6) > .mdx-link {
            @apply opacity-0;
        }

        *:is(h1, h2, h3, h4, h5, h6):hover > .mdx-link {
            @apply opacity-100;
        }
    }
</style>
